// 多行省略
@mixin rowHide ($num: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}

// 文字省略号
@mixin txtOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
